# ---------------------------
# Python
# ---------------------------
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
.venv/

# Python build
build/
dist/
*.egg-info/

# ---------------------------
# Environment variables
# ---------------------------
.env
.env.*
*.env

# ---------------------------
# Logs
# ---------------------------
*.log
logs/
*.out

# ---------------------------
# OS files
# ---------------------------
.DS_Store
Thumbs.db
desktop.ini

# ---------------------------
# IDE / Editors
# ---------------------------
.vscode/
.idea/
*.swp
*.swo

# ---------------------------
# Docker
# ---------------------------
docker-compose.override.yml
*.pid
*.seed

# ---------------------------
# Kubernetes
# ---------------------------
*.kubeconfig

# ---------------------------
# Testing / coverage
# ---------------------------
.coverage
htmlcov/
.pytest_cache/

# ---------------------------
# Node (si frontend plus tard)
# ---------------------------
node_modules/
npm-debug.log

# ---------------------------
# Security
# ---------------------------
secrets/
keys/
*.pem
*.key
*.crt
